<!-- Product with TWO controller and ONE factory -->
<html ng-app="myApp">
<head>
	<title>Products and Quantities</title>

	<!-- Angular CDN -->
	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js'></script>

	<!-- Bootstrap CDN -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<script type="text/javascript">

		// instantiating our own module
		var myAppModule = angular.module('myApp', []);



		// FACTORY ============================================================
		myAppModule.factory('productFactory', function(){

			// product hash table
			var qty = 50;

			var products = [
				{name:"MacBook Pro", price:1000.99, quantity:qty},
				{name:"MacPro", price:3000.99, quantity:qty}
			];

			// creating empty object
			var factory = {};

			// get product info
			factory.getProducts = function(callback){
				callback(products);
			}

			// get product info
			factory.getQuantity = function(callback){
				callback(products);
			}

			// add product
			factory.addProducts = function(product){
				// take incoming 'product' and add to product hash table
				products.push(product);
			}

			// deleting product
			factory.deleteProducts = function(data){
				// deleting only the incoming data (which holds the index value)
				products.splice(products.indexOf(data), 1);
			}


			// decrementing quantity count for a product
			factory.decrement_Qty = function(data){
				// data currently holds the row (ex: name:"MacBook Pro", price:1000.99, quantity:50)

				// now targeting the 'quantity' key and decrementing the value
				// running a if-else statment to stop quantity from going below 0
				if(data.quantity == 0){
					data.quantity = 0;
				}
				else{
					data.quantity--;
				}
			}

			// returning object
			return factory;
		});





		// PRODUCT CONTROLLER =================================================
		myAppModule.controller('productController', function($scope, productFactory){

			// instantiate empty array
			$scope.products = [];

			// request get product info
			productFactory.getProducts(function(data){
				$scope.products = data;
			})

			// adding product passing to factory
			$scope.addProduct = function(){
				productFactory.addProducts($scope.newProduct);
				// form starts new
				$scope.newProduct = {};
			}

			// deleting product
			$scope.deleteProduct = function(x){
				productFactory.deleteProducts(x);
			}
		}); // end Product Controller






		// ORDER CONTROLLER ===================================================
		myAppModule.controller('orderController', function($scope, productFactory){

			// get product inventory
			productFactory.getProducts(function(data){
				$scope.products = data;
			})

			$scope.decrementQty = function(y){
				productFactory.decrement_Qty(y);
			}


		})



	</script>



</head>
<body>
	<!-- This div block is controlled by productController -->
	<div ng-controller="productController" align="center">
		<h1>Product Controller with One Factory</h1>
		<!-- Create Product -->
		<form>
			<h3>Product Name: <input type="text" ng-model="newProduct.name"></h3>
			<h3>Price: <input type="text" ng-model="newProduct.price"></h3>
			<h3> <input type="hidden" ng-model="newProduct.quantity = 50"> </h3>
			<!-- clicking create product button will call CONTROLLER addProduct method -->
			<input type="submit" value="Create Product" ng-click="addProduct()">
		</form>

		<!-- Show Products -->
		<table class="table">
			<thead>
				<tr>
					<th>Product Name</th>
					<th>Price</th>
					<th>Action<th>
				</tr>
			</thead>

			<tbody>
				<!-- looping through users.  this is being called from controller > getUsers -->
				<tr ng-repeat="x in products | orderBy:'name'">
					<td>{{ x.name }}</td>
					<td>${{ x.price }}</td>
					<!-- clicking delete calls the CONTROLLER deleteProduct method -->
					<td><a href="#" ng-click="deleteProduct(x)">Delete</td>
				</tr>
			</tbody>

		</table>
	</div><!-- END of productController -->



	<!-- this div block is controlled by orderController -->
	<div ng-controller="orderController" >
		<h1>Orders Controller</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Price</th>
					<th>Qty Available</th>
					<th>Action</th>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="y in products | orderBy:'name'">
					<td>{{ y.name }}</td>
					<td>{{ y.price }}</td>
					<td>{{ y.quantity }}</td>
					<td><a href="#" ng-click="decrementQty(y)">Buy</td>
				</tr>
			</tbody>
		</table>
	</div><!-- END of orderController -->



</body>
</html>